@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
	background-color: #050914;
}

.noMarg {
	margin: 0;
}

.right_float {
	float: right;
}

.left_float {
	float: left;
}

.right_pad{
	padding-right: 15px;
}

.left_pad {
	padding-left: 15px;
}

.s60 {
	width: 60%;
}

.s40 {
	width: 40%;
}

.s20 {
	width: 20%;
}

.defpad {
	margin: 0;
	padding: 2.5%;
}

.centerText {
	text-align: center;
}

.justify {
	text-align: justify;
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

body {
	background: rgb(207, 236, 252);
	margin: 0 10%;
	font-family: 'Varela Round', sans-serif;
	min-height: 100vh;
}

#banner {
	width: 100%;
	background: url("../img/back.jpg");
	background-color: #14234F;
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: top;
}

#bannerTitle{
	float: left;
	font-size: 3em;
	font-weight: bold;
	color: white;
	margin-left: 5%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navText {
  color: white;
  text-align: center;
	padding: 0.7em 0.8em;
	display: block;
	font-size: 1.25em;
}

.navLink a{
	text-decoration: none;
	color: inherit;
}

.navLink:hover {
    background-color: #111;
}

h2 {
	margin: 0;
}

.splitter {
	width: 100%;
	height:2px;
	background-color: black;
}

#thumb {
	width: 200px;
	float: right;
	margin: 5px;
}

#main {
	padding: 15px;
	display: flex;
}

#fullWidth {
	width: 100%;
	border-spacing: 20px;
}

#fullWidth td {
	border: 1px solid black;
	width: 50%;
	text-align: center;
}

.exampleImg {
	width: 70%;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0px -5px 5px #050914;
}

.block {
	width: 45%;
	margin: 5px;
	height: 200px;
	border: 1px solid black;
	float: left;
}


.bigButton {
	list-style-type: none;
	background-color: #14234F;
	color: white;
	font-size: 2em;
	border-radius: 15px;
	display: list-item;
	padding: 10px 0;
	width: 60%;
	text-decoration: none;
	margin: 0 auto;
}

.bigButton:hover, .bigButtonCell:hover {
	background-color: #333;
}

.bigButtonCell {
	background-color: #14234F;
	color: white;
	font-size: 2em;
	border-radius: 15px;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
}

.bigButtonCell a {
	color: white;
	text-decoration: none;
}

.buttonLink, .buttonLink:visited {
	color: #14234F;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
}

@media (max-width: 768px) {
	html {
		min-width: 650px;
	}

	body {
		margin: 0;
		
	}

	#banner{
		background: none;
		background-color: #14234f;
	}
	
	#bannerTitle {
		float: right;
		margin-left: 0;
		margin-right: 5%;
	}
}
