<div class="col-lg-12">
	<div class="content-wrap">
		<div id='PDFPreview' style='display: none'>
			<p>
			<input type='button' value='Download' class='downloadPDF' />
			<input type='button' value='Back' class='hidePDF' /> | To save your data for future re-use, please <a href='users/register'>sign up</a>.
			</p>
			<iframe style='width: 100%; height: 400px' id='previewFrame'></iframe>
		</div>
		<div id='PDFCreate'>
			<h2 class="page-header">Medical ID card creator</h2>
			{{#unless user}}
				<p class='justify'>This is an offline creator for a Medical ID card, intended for guest users. This means none of the entered data will be sent over the internet.
				Since you are a guest, after leaving this page you will not be able to modify your card and you will have to create it again. If you do want your progress saved, please <a href='users/register'>sign up</a>.</p>
			{{/unless}}
			<p>Click 'Create' to view how the card will look. You will have the option to return and make changes, or download the card.</p>
			<p>For the emergency contacts, you may leave the name blank. For optimal results, please do fill in all other fields.</p>
			<img src='/img/loading.gif' id='creatorFormLoading' /><br />
			<div id='creatorForm' style='display: none' >
				<table id='fields'>
					<thead>
						<tr><td>Label</td><td>Text</td></tr>
					</thead>
					<tbody>

					</tbody>
				</table>
				<table class='table table-sm'>
					<col width="100"><col>
					<tr>
						<td>
							Add field:
						</td>
						<td>
							<a class='addField' data-label='Name' data-label-editable='false'>Name</a> |
							<a class='addField' data-label='Nationality' data-label-editable='false'>Nationality</a> |
							<a class='addField' data-label='Blood type' data-label-editable='false'>Blood type</a> |
							<a class='addField' data-label='Donor' data-field='yes' data-label-editable='false'>Donor</a> |
							<a class='addField' data-label='Insurance' data-label-editable='false'>Insurance</a> | 
							<a class='addField' data-label='Insurance ID' data-label-editable='false'>Insurance ID</a>
						</td>
					</tr>
				</table>
				<p>
				<input type='button' value='Create' class="showPDF"/>
				{{#if user}}
					<input type='button' value='Save' class="save"/>
				{{/if}}
				<span id='message'></span>
				</p>
			</div>
		</div>
	</div>
</div>
<script>
	require(['medid/card']);
</script>
