<div class="row">
    <div class="col-sm-12 col-md-6 p-3 text-center">
        <div class="bigButtonCell">
            <a href='/create/card'>
                <img width='75%' class="img-rounded" src='img/card.png' />
                <br />
                Card
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 text-center p-3">
        <div class="bigButtonCell">
            <a href='/create/document'>
                <img width='75%' class="img-rounded" src='img/document.png' />
                <br />
                Document
            </a>
        </div>
    </div>
</div>
