<table id='fullWidth'>
	<tr>
		<td class='bigButtonCell'>
		<a href='/create/card'>
			<img width='300px' src='img/card.png' /><br />
			Card
		</a>
		</td>
		<td class='bigButtonCell'>
		<a href='/create/document'>
			<img width='300px' src='img/document.png' /><br />
			Document
		</a>
		</td>
	</tr>
</table>
