<div class="row">
    <div class="col-12 p-3">
        <h2 class="page-header">Profile</h2>
    </div>
    <div class="col-12 col-lg-4 pl-3 pr-3 pb-3">
			<div class="card">
			  <div class="card-header">
				<h4>Settings</h4>
			  </div>
			  <div class="card-block">
				  <ul class="form-group list-group list-group-flush">
					<li class="list-group-item">
					  <label for="inputName">Your name</label>
					  <input type="text" class="form-control" id="inputName" value="{{user.name}}">
					</li>
					<li class="list-group-item">
					  <label for="inputEmail">Your e-mail address</label>
					  <input type="text" class="form-control" id="inputEmail" value="{{user.email}}">
					</li>
					<li class="list-group-item">
					  <label for="uploadPicture">Your profile picture</label>
					  <div class='input-group'>
						<span class='input-group-addon'><img style='max-height: 100px; max-width: 100px;' id='picturePreview' src="img/placeholder.png" /></span>
						<input class='form-control' id='uploadPicture' type="file" name="pic" accept="image/*">
					  </div>
					</li>
					<li class="list-group-item">
					  <label for="inputEmail">Amount of fields on your card</label>
					  <input type="number" class="form-control" id="inputCardNum" value="7" max="7" min="1">
					  <small>The top fields will appear on the card.</small>
					</li>
				  </ul>
			  </div>
			  <div class="card-footer">
				<button class="updateSettings btn btn-primary">Update</button>
			  </div>
			</div>
    </div>
    <div class="col-12 col-lg-8 pl-3 pr-3 pb-3">
		<div id='PDFCreate'>
			<img src='/img/loading.gif' id='creatorFormLoading' />
			<div class="card" id='creatorForm' style='display: none;' >
			  <div class="card-header">
				<h4>Your fields</h4>
			  </div>
			  <div class="card-block">
				<div id='fields'>

				</div>
			  </div>
			  <div class="card-footer">
				<p>
					<input type='button' value='Add field' class='addField btn btn-primary' />
					<input type='button' value='Save' class="save btn btn-primary"/>
					<input type='button' value='Create card' class="createCard btn btn-primary"/>
					<input type='button' value='Create profile as document' class="createDoc btn btn-primary"/>
					<span id='message'></span>
				</p>
				<p><a href="/profile?id={{user.id}}">View your personal profile!</a></p>
			  </div>
			</div>
		</div>
    </div>
</div>
<script>
    require(['medid/profile']);
</script>
