<div class="col-xs-12 col-sm-6 text-center">
	<div class="content-wrap">
		<div class="bigButtonCell">
			<a href='/create/card'>
				<img width='300px' class="img-rounded" src='img/card.png' />
				<br />
				Card
			</a>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-6 text-center">
	<div class="content-wrap">
		<div class="bigButtonCell">
			<a href='/create/document'>
				<img width='300px' class="img-rounded" src='img/document.png' />
				<br />
				Document
			</a>
		</div>
	</div>
</div>