<div class="col-lg-12">
	<div class="content-wrap">
		<div id='PDFPreview' style='display: none'>
			<p>
			<input type='button' value='Download' />
			<input type='button' value='Back' class='hidePDF' /> | To save your data for future re-use, please <a href='/users/register'>sign up</a>.
			</p>
			<iframe style='width: 100%; height: 400px' id='previewFrame'></iframe>
		</div>
		<div id='PDFCreate'>
			<h2 class="page-header">Medical ID document creator</h2>
			<p class='justify'>This is an offline creator for a Medical ID document, intended for guest users. This means none of the entered data will be sent over the internet.
			Click 'Create' to view how the document will look. You will have the option to return and make changes, or download the document.
			Since you are a guest, after leaving this page you will not be able to modify your document and you will have to create it again. If you do want your progress saved, please <a href='/users/register'>sign up</a>.</p>
			<p class='justify'>To create a field without a label, keep the label blank. Be concise in the labels, the maximum length for labels is 15 characters. The maximum length for text is 200 characters.</p>
			<table id='fields'>
				<thead>
					<tr><td>Label</td><td>Text</td></tr>
				</thead>
				<tr><td><input class='medid-label' maxlength='15' type='text' value='Name' readonly /></td><td><input class='medid-field' maxlength='200' type='text' /></td></tr>
				<tr><td><input class='medid-label' maxlength='15' type='text' value='Nationality' readonly /></td><td><input class='medid-field' maxlength='200' type='text' /></td></tr>
			</table><br />
			<input type='button' value='Add field' class='addField' />
			<input type='button' value='Create' class='showPDF'  />
		</div>
	</div>
</div>
<script>
	require(['medid/document']);
</script>
