<div class="row">
    <div id='message' class="alert col-12 alert-success"></div>
    <div id='error' class="alert col-12 alert-danger"></div>
    <div class="col-12 p-3"></div>
    <div class="col-12 col-lg-4 pl-3 pr-3 pb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Settings</h4>
            </div>

            <div class="card-block">
                <ul class="form-group list-group list-group-flush">
                    <li class="list-group-item">
                        <label for="inputName">Your name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Fill in your name.">
                        <small>This name is only used at the top of your document.</small>
                    </li>
                    <li class="list-group-item">
                        <label for="uploadPicture">Your profile picture</label>
                        <div class='input-group'>
                            <span class='input-group-addon'><img id='picturePreview' src="img/placeholder.png" /></span>
                            <input class='form-control' id='uploadPicture' type="file" name="pic" accept="image/*">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card-footer"></div>
        </div>
    </div>

    <div class="col-12 col-lg-8 pl-3 pr-3 pb-3">
        <div id='PDFCreate'>
            <img src='/img/loading.gif' id='creatorFormLoading' />

            <div class="card" id='creatorForm' style='display: none;'>
                <div class="card-header">
                    <h4 class="mb-0">Your fields</h4>
                    <small>
                  Use drag-and-drop to modify your set-up of fields.<br />
                  Private fields will never appear in your profile, but may appear on your card.
                  </small>
                </div>

                <div class="card-block">
                    <div class='card fieldSeperator'>
                        <div class='card-header'>
                            <h5>&#9660; Fields on the card:</h5>
                            <small>Select up to 7 fields.</small>
                        </div>
                    </div>
                    <div id='fields'>
                        <div id='seperator' class='fieldSeperator card'>
                            <div class='card-header'>
                                <h5>&#9660; Fields not on the card:</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <p>
                        <input type='button' value='Add field' class='addField btn btn-primary' />
                        <input type='button' value='Create card' class="createCard btn btn-primary" />
                        <input type='button' value='Create document' class="createDoc btn btn-primary" />
                        <span id='message'></span>
                    </p>
                    <p>To save your settings, please <a href='/login'>register</a> as a user.</p>
                </div>
            </div>
        </div>
    </div>
</div>
