<div class="row loginwrapper">
    <div class="col-12 col-sm-8 offset-sm-2 loginbox p-3 mt-0 mt-sm-5 mt-lg-0">
        
                <h2 class="header mb-3">FAQ</h2>
            
                    <p style="font-size:20px; font-weight: bold">Do I have to register in order to store my data?</p>

                    <p style="font-size:20px">Yes. Only registered users can access the data they entered afterwards via their personal profile.</p>

                    <hr>

                    <p style="font-size:20px; font-weight: bold">Who can access my personal profile?</p>

                    <p style="font-size:20px">Only you and people in possession of your Medical ID Card or code indicated on the card can view the data in your profile</p>

                    <hr>

                    <p style="font-size:20px; font-weight: bold">I lost my Medical ID Card. What should I do?</p>

                    <p style="font-size:20px">You can regenerate the code linked to your Medical ID card via your personal profile. Afterwards, the link on your old card will be unusable.</p>

                    <hr>
            </div>

</div>

