<div class="col-12 col-md-6 offset-md-3 p-3">
    <h2 class="page-header">Account Recovery</h2>
    <form method="post" action="/forgot">
        <div class="form-group">
            <p>Enter your gmail address, and we will send you the password reset link.</p>
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email address" tabindex="4">
        </div>
        <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
    </form>
</div>
