<div class="row wrapper">
    <div class="col-12 col-sm-6 offset-sm-3 bluebox p-3 my-0 my-sm-5">
        <h2 class="header mb-3">Account Recovery</h2>
        <form method="post" action="/forgot">
            <div class="form-group">
                <p>Enter your email address, and we will send you the password reset link.</p>
                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email address" tabindex="4">
            </div>
            <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
        </form>
    </div>
</div>