<div class="row flex-md-row-reverse">
    <div class="col-md-6 p-3 main-page-col">
        <div style="padding: 15px; background-color: hsl(221, 61%, 80%); border-radius: 15px;">
            <h4 class="header">
                Find User<br />
                <small class="text-muted"><small>If you cannot scan the code from the card, enter the user ID here</small></small>
            </h4>
            <form method="get" action="/profile">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Code</label>
                    <div class="col-10">
                        <input type="text" class="form-control hyphenCode" maxlength="15" placeholder="XXX-XXX-XXX-XXX" name="code">
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-6 p-3 main-page-col main-page-col-l">
        <div class="bigButtonCell text-center">
            <a href='/create'>
                Create
            </a>
        </div>
    </div>
</div>
<script>
    require(['medid/hyphenator']);

</script>
