<div class="row flex-md-row-reverse">
    <div class="col-md-6 p-3 main-page-col">
        <div style="padding: 15px; background-color: hsl(221, 61%, 80%); border-radius: 15px; width: 75%">
            <h4 class="header">
                Find User<br />
                <small class="text-muted"><small>If you cannot scan the code from the card, enter the user ID here</small></small>
            </h4>
            <form method="get" action="/profile">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Code</label>
                    <div class="col-10">
                        <input type="text" class="form-control hyphenCode" maxlength="15" placeholder="XXX-XXX-XXX-XXX" name="code">
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-6 p-3 main-page-col main-page-col-l">

      <div class="main-info">
            <h4 class="header">
            	A card which holds the most relevant medical information<br />
            	<small class="text-muted"><small>Create a medical ID: a card which holds your most crucial medical details. Print the card to have it with you in case of emergency.</small></small>
            </h4>
            <h4>Store your medical information online<br />
            	<small class="text-muted"><small>Register to save your medical information to a personal profile. Have your medical information accessible at any place and time. The information will be saved securely and will only be accessible to those holding your card.</small></small>
            </h4>
	    </div>

      <a href='/create' class="bigButtonCell text-center">
          Create medical ID
      </a>
        
    </div>
</div>
<script>
    require(['medid/hyphenator']);
</script>
