<div class="row flex-md-row-reverse">
    <div class="col-md-6 p-3 main-page-col">
        <div style="padding: 15px; background-color: hsl(221, 61%, 80%); border-radius: 15px;">
            <h2 class="header">Find User</h2><br />
            <form method="get" action="/profile">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Code</label>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Code" name="id">
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-6 p-3 main-page-col main-page-col-l">
        <div class="bigButtonCell text-center">
            <a href='/create'>
                Create
            </a>
        </div>
    </div>
</div>