<div class="col-lg-8">
	<div class="content-wrap">
		<h2 class="page-header">Account Login</h2>
		<form method="post" action="/users/login">
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password">
				<a href="http://localhost:3000/forgot" class="btn btn-link pull-right">Forgot Password?</a>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
