<div class="row">
    <div class="col-12 p-3">
        <h2 class="header text-center">{{displayUser.name}}</h2>
    </div>
    <div class="col-sm-12 col-md-6 offset-md-1 p-3">
        <div class="content-wrap">
            {{#if displayUser}}
                <table class="table-striped table">
                    {{#each displayUser.document}}
                        <tr>
                            <td>
                                <span style="font-weight: 700;">{{this.label}}</span>
                            </td>
                            <td>
                                {{this.field}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            {{else}}
                No user found!
            {{/if}}
        </div>
    </div>
    <div class="col-sm-12 col-md-5 text-center p-3">
        <div class="content-wrap">
            <img id="profile-profpic" width='50%' src='img/placeholder.png' />
        </div>
    </div>
</div>
