<div class="col-lg-8">
	<div class="content-wrap">
		<h2 class="page-header">Reset password</h2>
		<form method="post">
			<div class="form-group">
				<label>new password</label>
				<input type="password" class="form-control" name="password" placeholder="password">
			</div>
			<div class="form-group">
				<label>confirm password</label>
				<input type="password" class="form-control" name="confirm" placeholder="confirm">		
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
