<div class="row wrapper">
    <div class="col-12 col-sm-8 offset-sm-2 bluebox p-3 my-0 my-sm-5">
        <h2 class="header mb-3">Reset password</h2>
        <form method="post">
            <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" class="form-control" name="confirm" placeholder="confirm">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>