<div class="col-12 col-md-6 offset-md-3 p-3">
    <h2 class="page-header">Verify your Email Account</h2>
    <form method="post" action="/verify">
        <div class="form-group">
            <p>Your account is not verified as yet.</p>
            <p>Enter the verification token you have received to verify your email adress.</p>
            <input type="token" name="token" id="token" class="form-control input-lg" placeholder="token" tabindex="4">
        </div>
        <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
    </form>
</div>
