<div class="row wrapper">
    <div class="col-12 col-sm-6 offset-sm-3 bluebox p-3 my-0 my-sm-5">
        <h2 class="header mb-3">Verify your Email Account</h2>
        <form method="post" action="/verify">
            <div class="form-group">
                <p>Your account is not verified as yet.</p>
                <p>Enter the verification token you have received to verify your email address.</p>
                <input type="token" name="token" id="token" class="form-control input-lg" placeholder="token" tabindex="4">
            </div>
            <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
        </form>
    </div>
</div>