/* OUR CSS */
html,body {
    font-size: 14px;
    background-color: hsl(221, 61%, 90%);
    min-height: 100vh;
}

.bigButtonCell {
    background-color: hsl(221, 61%, 50%);
    width: 75%;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 15px;
    border: thin solid hsl(221, 61%, 25%);
}

.bigButtonCell a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.main-page-col {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 210px;
    height: calc(50vh - 24.5px);
}

.main-page-col-l {
    background-color: hsl(221, 61%, 80%);
}

#creatorFormLoading {
	margin: 0 auto;
	display: block;
}

#picturePreview {
  max-height: 100px;
  max-width: 100px;
}

.addField, .addImage {
	cursor: pointer;
}

.clickable {
	cursor: pointer;
	margin-left: 0px;
	margin-right: 0px;
}

#message {
	color: green;
}

#error {
	color: red;
}

.previewImg {
	max-height: 100px;
	max-width: 100px;
}

.fieldBox {
  margin: 5px;
  background-color: #ABC;
}

.card-block {
  margin: 0px;
  padding: 0px;
}

.fieldBox .input-group, .fieldBox .btn, .fieldBox img {
  margin: 5px;
}

.fieldBox label.btn {
  width: 90px;
  margin-left: 20px;
}

.removeField {
  cursor: pointer;
  padding: 2px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-wrapper {
    text-align: right;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.moveUp, .moveDown {
    display: flex;
    align-items: center;
}

/* DEFAULT BOOTSTRAP CHANGES */
.header {
    padding-bottom: 1rem;
    border-bottom: thin solid black;
}

/* HELPER CLASSES */
[class^="icon-"], [class*=" icon-"] {
    height: 18px;
    width: 18px;
    display: inline-block;
    fill: currentColor;
}

.icon-bin {
    height: 12px;
    width: 12px;
    fill: black;
}

.unselectable {
	user-select: none;
    cursor: default;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .main-page-col {
        height: calc(100vh - 49px);
    }
}

/* Toggle */
.toggle > label {
  cursor: pointer;
}

.btn.active {
	display: none;
}

.btn span:nth-of-type(1)  {
	display: none;
}
.btn span:last-child  {
	display: block;
}

.btn.active  span:nth-of-type(1)  {
	display: block;
}
.btn.active span:last-child  {
	display: none;
}
