html,body {
    font-size: 14px;
    background-color: hsl(221, 61%, 90%);
}

.header {
    padding-bottom: 1rem;
    border-bottom: thin solid black;
}

.bigButtonCell {
    background-color: hsl(221, 61%, 50%);
    width: 75%;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 15px;
    border: thin solid hsl(221, 61%, 25%);
}

.bigButtonCell a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

@media (max-width: 575px) {
    html {
        font-size: 14px;
    }
}