<div class="row loginwrapper">
    <div class="col-12 col-sm-8 offset-sm-2 loginbox p-3 mt-0 mt-sm-5 mt-lg-0">

        <h2 class="header mb-3">About the Medical ID Application</h2>

        <p style="font-size:20px">The Medical ID project was initiated due to a lack of international cooperation between hospitals for sharing medical data of patients.</p>

        <p style="font-size:20px">With our application, you can create a profile where you store all the information you consider essential for professional medical staff in order to give you the best treatment. </p>

        <p style="font-size:20px">Upon creating your Medical ID Card you will be given a credit card sized card containing the most important data, and a QR code that links to your personal profile. This way, medical staff can access crucial information no matter what hospital in the world they are connected to. </p>
    </div>

</div>
