<div class="row wrapper">
    <div class="col-12 col-sm-8 offset-sm-2 bluebox p-3 my-0 my-sm-5">

        <h2 class="header mb-3">Contact Us</h2>

        <p style="font-size:20px">Medical ID was developed by a group of bachelor students of computing science at the University of Groningen upon request by our customer, P.J.U.</p>

        <p style="font-size:20px">Contact us on medicalid17@gmail.com, and we will be happy to respond to your questions and suggestions!</p>
    </div>

</div>
