<div class="row loginwrapper">
    <div class="col-12 col-sm-8 offset-sm-2 loginbox p-3 mt-0 mt-sm-5 mt-lg-0">
        
                <h2 class="header mb-3">FAQ</h2>
            
                    <p style="font-size:20px; font-weight: bold">Do I have to register in order to store my data?</p>

                    <p style="font-size:20px">Yes. Only registered users can access the data they entered afterwards via their personal profile.</p>

                    <hr>

                    <p style="font-size:20px; font-weight: bold">Who can access my personal profile?</p>

                    <p style="font-size:20px">Only you and people in possession of your Medical ID Card or code indicated on the card can view the data in your profile.</p>

                    <hr>

                    <p style="font-size:20px; font-weight: bold">I lost my Medical ID Card. What should I do?</p>

                    <p style="font-size:20px">You can regenerate the code linked to your Medical ID card via your personal profile. Afterwards, the link on your old card will be unusable.</p>

                    <hr>

                    <p style="font-size:20px; font-weight: bold">Why does not all my data display on the Medical ID card?</p>

                    <p style="font-size:20px">There is not enough space on the card in order to hold more fields than seven on your Medical ID card. The QR-code on your card links to your personal profile, where all fields not marked as private will be viewed by the person scanning the QR-code.</p>

                    <hr>

                    <p style="font-size:20px; font-weight: bold">What kind of fields can I enter to my personal profile?</p>

                    <p style="font-size:20px">You can enter any kind of information to your personal profile, since you can name the label of each field yourself. A few suggestions: Name, Date of Birth, Blood group, Vaccinations, Allergies, Illnesses, Indication of will to donate your organs, Medications... You decide what you want on your Medical ID Card and personal profile!</p>

                    <hr>

                    <p style="font-size:20px; font-weight: bold">I am unable to scan the QR-code. What should I do?</p>

                    <p style="font-size:20px">Next to the QR-code, you can find a code also linking to the profile of the cardholder. Go to <a href="https://medid.herokuapp.com" rel="nofollow">the Medical ID webpage</a> and enter the code found on the card. </p>

                    <hr>
            </div>

</div>

