<div class="row wrapper">
    <div class="col-12 col-sm-8 offset-sm-2 bluebox p-3 my-0 my-sm-5">

        <h2 class="header mb-3">Terms of Service</h2>

        <p style="font-size:20px"> © The Medical ID Development Team 2017</p>

        <h3 class=header mb-3>Disclaimer</h3>

        <p>Last updated: June 09, 2017</p>

        <p>The information contained on medid.herokuapp.com website (the "Service") is for general information purposes only.</p>

        <p>Medical ID assumes no responsibility for errors or omissions in the contents on the Service.</p>

        <p>In no event shall Medical ID be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Medical ID reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.</p>

        <p>Medical ID does not warrant that the website is free of viruses or other harmful components.</p>

        <p>This Disclaimer is licensed by <a href="https://termsfeed.com" rel="nofollow">TermsFeed Generator</a> to Medical ID.</p>

    </div>

</div>
