<!DOCTYPE html>
<html>
    <body>
        Hi {{name}},<br /><br />
        This is a confirmation that the password for your account {{useremail}} has just been changed.<br /><br />
    </body>
</html>